body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: black;
}

main {
}

.left-column {
    background-color: white;
    height: 100vh;
    width: 35%;
    float: left;
    margin-left: 5%;
    
}
.header {
    color: #3751FF;
    margin-top: 100px;
    margin-left: 70px;
    font-size: 26px;
}

.main-title {
    color: #203152;
    margin-top: 100px;
    margin-left: 70px;
    font-size: 30px;
}

.welcome {
    margin-top: 30px;
    margin-left: 70px;
    color: #A0A2B1;
    font-size: 15px;
}

.right-column {
    
    width: 55%;
    margin-right: 5%;
    float: left;
    height: 100vh;
    background-image: url(../img/html\ test\ right\ column.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

